doctype html
html
	head
		block title
			title= title
		link(rel="stylesheet", href=host+"/style.cs")
		link(rel="stylesheet", href=host+"/stylesheets/bootstrap.min.css")
	body
		block header
			div.container.mb-3
				h2.text-center Movie Gallery
				div.row.bg-primary
					nav.col.col-md-8
						div.btn-group
							a(href=host+"/movies").text-white.btn.btn-primary Movies
							unless remove_enabled
								a(href=host+"/admin/login").text-white.btn.btn-primary Admin Login
							if remove_enabled
								a(href=host+"/moviepanel").text-white.btn.btn-primary Add Movie
								a(href=host+"/category").text-white.btn.btn-primary Add Category
								a(href=host+"/admin/logout").text-white.btn.btn-primary Logout
					div.col.col-md-4.text-right
						form.py-1.search-form(action=host+"/movies/search/1/asc",method="GET")
							input(type="text",placeholder="Search",name="search")
							input(type="submit",value="Go")
		div.main
			block main
		div.container.bg-primary.text-center.py-4.mt-4
			block footer
				span.text-white arevir26&copy;2017

