extend layout

block title
	title= title
block main
	div.movieinfo
		h4 Categories
		div.category-list
				a(href=host+"/movies/all/1/"+order ) All Categories
		each category in categorylist
			div.category-list
				a(href="http://localhost:3000/movies/"+category.category_name+"/"+links.page+"/"+links.order)= category.category_name
	div.videocontainer
		div.sortbar
			| Showing #{movielist.length} out of #{totalresult} movies

		each movie in movielist
			div.movieitem
				a(href="#"+movie.movie_id)
					img(src="http://localhost:3000/images/moviecon/"+movie.movie_id+".jpg",width="150px",height="100px")
					h4= movie.movie_name
		else
			h4= "Nothing to Show."

		div.clearfloat
		div.pagination
			- var last = 0
			each pagelink in pagination
				- last++
				a(href=pagelink.link)= pagelink.pagename
				unless last==pagination.length
					| |
			else
				| ||
	div.clearfloat()