extend layout

block title
	title List of #{page_category} Movies
block main
	div.movieinfo
		h4 Categories
		div.category-list
				a(href=host+"/movies/all/1/"+order ) All Categories
		each category in categorylist
			div.category-list
				a(href=host+"/movies/"+category.category_name+"/1/"+links.order)
					| #{category.category_name} (#{category.category_count})
	div.videocontainer
		div.sortbar
			| Showing #{movielist.length} out of #{totalresult} movies
		- var clearfloat = 0
		each movie in movielist
			- clearfloat++
			div.movieitem
				a(href=host+"/watch/"+movie.movie_id)
					img(src=host+"/images/moviecon/"+movie.movie_name+".jpg",width="100px",height="150px")
					h4= movie.movie_name
					if remove_enabled
						div
							a(href=host+"/moviepanel/remove/"+movie.movie_id) Remove
			unless clearfloat%3
				div.clearfloat
		else
			h4= "Nothing to Show."

		div.clearfloat
		div.pagination
			- var last = 0
			each pagelink in pagination
				- last++
				if query.length
					a(href=pagelink.link+"?search="+query)= pagelink.pagename
				else
					a(href=pagelink.link)= pagelink.pagename
				unless last==pagination.length
					| |
			else
				| That's All Folks :-) New movies will be added soon.
	div.clearfloat()