extend layout

append footer
	script(src=host+"/javascripts/videoscript.js",type="text/javascript")

block main
	- var movieinfo = movie;
	div.container
		div.row
			if movie
				div.list-group.col.col-12.col-sm-3.card.pr-0
					h5.list-group-item.active.mb-md-2= movieinfo.movie_name
					div.pl-2 Release Date: #{movieinfo.released}
					div.pl-2 Views: #{movieinfo.views+1}
					- var day = new Date(movieinfo.date_added)
					- var y = day.getFullYear()
					- var d = day.getDate()
					- var m = day.getMonth()+1;
					div.pl-2 Date Added: #{m}/#{d}/#{y}
					div
						span.pl-2 Category:&nbsp;
						div.breadcrumb
							each category in movieinfo.categories
								a.breadcrumb-item(href=host+"/movies/"+category.category_name+"/1/asc") #{category.category_name}
							else
								| No Category
					if modify_enabled
						h5.list-group-item.active.mb-md-2 Modify Movie
						form(action=host+"/moviepanel/modify/"+movieinfo.movie_id,method="POST")
							div.moviedetails
								| Select Field: 
								select(name="fieldname")
									option(value="movie_name") Movie Name
									option(value="url") URL
									option(value="description",selected) Description
									option(value="views") Views
									option(value="released") Year
							div.moviedetails
								| New Value: 
								textarea(name="newvalue",style="vertical-align:top")
							div.moviedetails
								input(type="submit",value="Edit")
				div.col.col-12.col-sm-9.pr-sm-0.text-center
					video.col-12(controls=true,controlsList="nodownload",id="video",onClick="Play()")
						source(src=host+"/"+movieinfo.url)
						if movie.subtitle
							track(src=host+"/"+movie.subtitle,srclang="en",kind="subtitles",label="English",default)
					div.card
						h4.pt-md-3 Description
						p.text-left.m-md-3(style="text-indent:1em") #{movieinfo.description}
			else
				div.movieinfo
					h4 File not found
					div.moviedetails Release Date: 
					div.moviedetails Views: 
					div.moviedetails Category:&nbsp;
						| No Category
					div.moviedetails Date Added: Not Available
				div.videocontainer
					div
						p Error: Page Not Found

			div.clearfloat







